*{
    background-color:#F2F2F2;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;
}
@font-face {
    font-family: 'curvyregular';
    src: url('/fonts/curvy-webfont.woff2') format('woff2');
}
h1{
    font-size: 83px;
    margin-bottom: 1%;   
    font-family: "curvyregular";
    margin-top: 15%;
    color: #F26849;
    letter-spacing: 10px;
}  
.title{
    margin-top:5%;
    margin-left:-222px;
}
h2{
    color: #93BAD9;
}
.button, input .button {
    background-color: #9BBDD4;
    border: none;
    color: black;
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    font-size: 15px;  
    padding-right: 4px;
  }
  .button, input .button {
    transition-duration: 0.4s;
  }
  .button:hover, input .button {
    background-color: #F26849;
    color: white;
  }
header{
    text-align: center;
    font-size: 30px;
}
.login{  
    width: 382px;  
    margin-left: 27%;
    padding:44px 44px 44px 75px;
    border-radius: 15px;     
} 
form, label b, span, label, h5{ 
    background: #F2EBD5;
    font-family: 'Tahoma';  
}
.login img{
    background-color:transparent;
}
.projecto a:hover, div.portfolio .login:hover, .login img:hover{
    background-color: #F26849;
    color: white;
}

.projecto, .projecto a {
    color:#93BAD9; 
    font-size: smaller;
    font-family:'Tahoma';
    line-height: 24px;
 }
 nav a{
    color:#022873;
    text-decoration:none;
}
nav{
    margin-top: 50px;
    margin-left:30%;
    font-size: 20px;

}
nav li{
    float:left;
    margin-left:35px;
    margin-right:35px;
}
nav ul{
    list-style:none;
    margin-bottom:28px;
    padding-bottom:28px;
}
.foto{
    float:left;
}
.perfil{
    font-family: curvyregular;
    text-align: left;
    background: #F2EBD5;
    font-size: 22px;
    padding: 18px;
    margin-top: 30px;
    margin-left: 55%;
    margin-right: 10%;
}
.portfolio{
    padding-left: 11%;
}
.portfolio .login{
    background-color: #F2EBD5;
}
.portfolio img{
    background-color: #F2EBD5;
}
section article{
    height: 160px;
    width: 200px;
    float: left;
}

section h2{
    height: 160px;
    width: 200px;
    float: left;
    color: #F26849;
    margin-right: 2px;
    margin-left: 17px;
    font-family: curvyregular;
    letter-spacing: 5px;
}
article {
    background-color: #F2EBD5;
    margin: 5px 5px 0 0 ;
    border-radius: 3px;
    padding:10px;
}
form h4{
    background-color: #F2EBD5;
}
article strong, form strong{
    background-color: #F2EBD5;
color: #9BBDD4;
}
.cv{
    margin-bottom: 108px;
    height: 300px;
}
form{
    margin-top:30px;
    padding:10px;
    width: 400px;
    margin-left: 35%;
}
div form {
    width: 188px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid;    
    color: #F26849;
    border-radius: 4px;
    resize: none;
    margin-bottom: 10px;
    margin-top: 10px
  }
  input{
      color:#F26849;
  }
.sent{
    text-align: center;
}
.sent h1{
    font-size: 50px;
    margin-top:160px;
}
#S