*{
    background-color:#F2F2F2;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;
}
@font-face {
    font-family: 'curvyregular';
    src: url('/fonts/curvy-webfont.woff2') format('woff2');
}
h1{
    font-size: 83px;
    margin-bottom: 1%;   
    font-family: "curvyregular";
    margin-top: 15%;
    color: #F26849;
}  
h2{
    color: #93BAD9;
}
header{
    text-align: center;
}
.projecto{
    color:#93BAD9; 
    font-size: smaller;
    font-family:'Tahoma';
    line-height: 24px;
 }
nav{
    color:brown;
}